<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>Fetchmarque</servlet-name>
  	<display-name>Fetchmarque</display-name>
  	<description></description>
  	<servlet-class>VoitureDAO.Fetchmarque</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>VoitureServlet</servlet-name>
  	<display-name>VoitureServlet</display-name>
  	<description></description>
  	<servlet-class>VoitureDAO.VoitureServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>reservationServlet</servlet-name>
  	<display-name>reservationServlet</display-name>
  	<description></description>
  	<servlet-class>Servlet.reservationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ReservationServlet</servlet-name>
  	<display-name>ReservationServlet</display-name>
  	<description></description>
  	<servlet-class>Servlet.reservationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>DeleteResAdminServlet</servlet-name>
  	<display-name>DeleteResAdminServlet</display-name>
  	<description></description>
  	<servlet-class>Servlet.DeleteResAdminServlet</servlet-class>
  </servlet>



  <servlet-mapping>
  	<servlet-name>Fetchmarque</servlet-name>
  	<url-pattern>/Fetchmarque</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>VoitureServlet</servlet-name>
  	<url-pattern>/VoitureServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ReservationServlet</servlet-name>
  	<url-pattern>/ReservationServlet</url-pattern>
  </servlet-mapping>





</web-app>
